<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 목록보기</title>
    <link rel="stylesheet" th:href="@{/css/board.css}"/> </head>
<body>
<section class="board">
    <div class="page-title">
        <div class="container">
            <h3>게시판 목록보기</h3>
        </div>
    </div>

    <div class="login-info">
        <div class="container">

            <div th:if="${loginInfo != null}">
                        <span class="login-info_user">
                            <span th:text="${loginInfo.nickname}"></span>님 환영합니다.
                        </span>
                <span class="login-info_logout">
                            <a th:href="@{/logout}">로그아웃</a>
                        </span>
            </div>

            <div th:if="${loginInfo == null}">
                        <span class="login-info_login">
                            <a th:href="@{/login.html}">로그인</a>
                        </span>
                <span class="login-info_logout">
                            <a th:href="@{/register.html}">회원가입</a>
                        </span>
            </div>

        </div>
    </div>


    <div id="board-list">
        <div class="container">
            <table class="board-table">
                <thead>
                <tr>
                    <th scope="col" class="th-num">번호</th>
                    <th scope="col" class="th-title">제목</th>
                    <th scope="col" class="th-viewcnt">조회수</th>
                    <th scope="col" class="th-name">작성자</th>
                    <th scope="col" class="th-date">등록일</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${list.isEmpty()}">
                    <td colspan="5">게시글이 없습니다.</td>
                </tr>
                <tr th:each="board : ${list}">
                    <td th:text="${board.boardId}"></td>
                    <td>
                        <a th:href="@{/board(boardId=${board.boardId})}" th:text="${board.title}"></a>
                    </td>
                    <td th:text="${board.viewCnt}"></td>
                    <td th:text="${board.nickname}"></td>
                    <td th:text="${#temporals.format(board.redate, 'yyyy-MM-dd')}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="container" style="text-align: right; margin-top: 10px;">
            <a th:href="@{/writeform}" th:if="${loginInfo != null}">글쓰기</a>
            <span th:if="${loginInfo == null}">로그인 후 글쓰기가 가능합니다.</span>
        </div>
    </div>
    <div class="pagination" style="text-align: center; margin-top: 20px;">
                <span th:each="n :${#numbers.sequence(1,pageCount)}">
                    <a th:href="@{/share(page=${n})}" th:text="${n}" style="padding: 5px;"></a>
                </span>
    </div>
</section>
</body>
</html>